<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>nl.doxygen.Doxygen</string>
	<key>CFBundleIconFile</key>
	<string>Doxygen.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
	<string>$VERSION, Copyright (c) 1997-2026, Dimitri van Heesch</string>
	<key>CFBundleSignature</key>
	<string>Doxy</string>
        <key>CFBundleDisplayName</key>
        <string>Doxygen</string>
        <key>NSHumanReadableCopyright</key>
        <string>(c) 1997-2026, Dimitri van Heesch</string>
	<key>CFBundleExecutable</key>
	<string>Doxywizard</string>
        <key>CFBundleShortVersionString</key>
        <string>$VERSION</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
</dict>
</plist>
